.portada {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

/*Mobile*/
@media screen and (min-width: 0) {
    .container {
        margin: 0;
        max-width: 100%;
        padding-left: 2%;
        padding-right: 2%;
    }

    .portada {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
    }
}

/*Tablet*/
@media screen and (min-width: 768px) {
    .container {
        margin: 0;
        max-width: 100%;
        padding-left: 4%;
        padding-right: 4%;
    }

    .portada {
        margin: 0px;
        margin: 0 120px;
    }
}