* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: auto;
    width: 100%;
    background-image: url(/img/background.png);
}

.logo {
    color: var(--fuente-blanco);
    font-size: 1rem;
    font-weight: bold;
}

header {
    height: 75px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}

ul {
    margin-bottom: 0;
}

.navbar {
    font-family: var(--quattrocento-sans);
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.nav__menu li {
    list-style: none;
    padding: 0 1rem;
}

.nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

a.menu__link {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

a.menu__link:hover {
    color: var(--fuente-verde);
}

.hamburger {
    display: none;

}

.bar,
.fa-times {
    width: 1.5rem;
    height: 3px;
    display: block;
    color: #fff;
    padding: 0;
    margin: 6px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: #fff;
}

.bar:nth-child(1) {
    width: 100%;
}

.bar:nth-child(2) {
    width: 200%;
}

.bar:nth-child(3) {
    width: 300%;
}

@media (max-width: 992px) {
    .hamburger {
        display: block;
    }

    .active .bar:nth-child(2) {
        opacity: 0;
    }

    .active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(-315deg);
        transform: translateY(8px) rotate(-315deg);
        width: 300%;
    }

    .active .bar:nth-child(3) {
        -webkit-transform: translateY(-10px) rotate(-45deg);
        transform: translateY(-10px) rotate(-45deg);
        width: 300%;
    }

    .nav__menu {
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 75px;
        right: -100%;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        margin: 0 auto;
    }

    .nav__menu li {
        padding: 1rem 0;
    }

    a.nav__link {
        margin: 1rem 0;
        color: #333;
        z-index: 1;
    }

    .active {
        right: 0;
        z-index: 100;
        transition: 0.2s ease;
    }
}

@media screen and (max-width: 480px) {
    a.nav__link {
        padding: 0.75rem 0;
    }
}

/*Portada*/
.portada {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    margin: 0 120px;
}

.portada__contenido {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.portada__titulo {
    display: flex;

}

.mano {
    width: 50px;
    margin-right: 10px;
    float: left;
}

.titulo {
    line-height: 54px;
}

.contenido__blanco {
    color: var(--fuente-blanco);
    line-height: 2rem;
    font-size: 20px;
    font-weight: 300;
}

.portada__subtitulo {
    margin-top: 8px;
    padding-right: 450px;
}

/*SOBRE MI*/
.container__sobreMi{
    padding: 120px 0;

}
.sobre__mi {
    display: flex;
    border: 2px solid var(--fuente-verde);
    filter: drop-shadow(0px 0px 4px rgba(123, 97, 255, 0.38));
    border-radius: 10px;
    padding-top: 100px;
    margin: 0 120px;
    height: 525px;
}

.sobre__mi img {
    height: 288px;
    padding-left: 45px;
    padding-right: 45px;

}

.subtitulo__blanco {
    text-align: left;
}

.parrafo__blanco {
    padding-top: 40px;
}

.parrafo__sobreMi {
    padding-right: 64px;
}

/*Skills*/
.skills {
    background-color: var(--fuente-blanco);
    padding-top: 100px;
    height: 700px;
}

.subtitulo__negro {
    text-align: center;
    color: var(--fuente-lila);
}
.cards__tecno {
    padding-top:30px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: 0 120px;
}
.card {
    width: 200px;
    height: 180px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px var(--fuente-lila),
        -15px -15px 30px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

}

