
.parrafo__blanco {
    color: var(--fuente-blanco);
    line-height: 2rem;
    font-weight: 300;
}








/*Formacion academica*/
.formacion {
    background-color: var(--fuente-lila);
    padding-top: 80px;
    padding-bottom: 160px;
}

.titulo__formacion {
    text-align: center;
    padding-bottom: 32px;
}

.flip-card {
    background-color: transparent;
    width: 190px;
    height: 254px;
    perspective: 1000px;
    font-family: var(--poppins);

}

.img_formacion {
    width: 60%;

}

.title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 2px solid var(--fuente-verde);
    border-radius: 30px;
}

.flip-card-front {
    background: var(--fuente-blanco);
    color: var(--fuente-blanco);
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-card-back {
    background: var(--fuente-lila);
    color: var(--fuente-blanco);
    transform: rotateY(180deg);
}

/*Proyectos*/
.container__projects{
    padding-top: 80px;

}
.cards_projects {
    width: 538px;
    height: 386px;
    position: absolute;
    background: url(/img/encriptador.png);
    background-size: cover;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 10px 1px rgba(123, 97, 255, 0.19);

}

.overlay {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    background: #f5f5f5;
    color: black;
    opacity: 0;
    transition: all 0.5s;
    font-family: var(--quattrocento-sans);
    border-radius: 10px;
}

.items {
    padding-left: 20px;
    letter-spacing: 3px;
}

.cards__contenido {
    font-size: 16px;
    line-height: 20px;
}

.head {
    font-size: 30px;
    line-height: 30px;
    transform: translateY(40px);
    transition: all 0.7s;
}
.head, hr {
        display: block;
        width: 0;
        border: none;
        border-bottom: solid 2px #5C307D;
        /* position: absolute;
        bottom: 0;*/
        left: 20px;
        top: 130px;
        transition: all .5s;
    }


.price {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 22px;
    line-height: 10px;
    font-weight: bold;
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.7s;
    display: flex;
    justify-content: flex-start;
}

.button__tecno {
    margin-right: 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(123, 97, 255, 0.38);
    opacity: 0.5;
    position: relative;
    padding: 4px 12px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 99px;
    outline: none;
    overflow: hidden;
    color: #5C307D;
    text-align: center;
}

.enlace {
    display: flex;
}

.button_enlace {
    height: 52px;
    margin-right: 10px;
    background: #5C307D;
    position: relative;
    padding: 16px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 99px;
    outline: none;
    overflow: hidden;
    color: #5C307D;
    text-align: center;
    cursor: pointer;
}

.button_enlace a {
    text-decoration: none;
    color: #F5F5FF;
}

.cards_projects:hover .overlay {
    opacity: 1;
}
.cards_projects:hover .overlay .head {
    transform: translateY(0px);
}
.cards_projects:hover .overlay hr {
    width: 150px;
    transition-delay: 0.4s;
}
.cards_projects:hover .overlay .price {
    transform: translateY(0px);
    transition-delay: 0.3s;
    opacity: 1;
}
.cards_projects:hover .overlay .enlace {
    transform: translateY(0px);
    transition-delay: 0.6s;
    opacity: 1;
}

/*Contacto*/
.formulario__contacto{
    background-color: var(--fuente-blanco);
    padding-top:30px;
}
.contacto__container{
    display: flex;
}

/*FOOTER*/
.footer{
    height: 50px;
}

.contenido__footer{
    padding-top:20px ;
    text-align: center;

}