.parrafo__blanco {
    color: var(--fuente-blanco);
    line-height: 2rem;
    font-weight: 300;
}


/*Proyectos*/

/*Mobile*/
@media screen and (min-width: 0) {
    .projects {
        height: 1850px;
    }
}

/*Tablet*/
@media screen and (min-width: 768px) {
    .projects {
        height: 1900px;
    }
}

/*Desktop*/
@media screen and (min-width: 1024px) {
    .projects {
        height: 1350px;
    }
}

.container__projects {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3.5em;
    flex-wrap: wrap;
}

.cards_projects {
    background: url(/img/encriptador.png);
    background-size: cover;
    width: 538px;
    height: 386px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 10px 1px rgba(123, 97, 255, 0.19);
}

.overlay {
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    color: black;
    opacity: 0;
    transition: all 0.5s;
    font-family: var(--quattrocento-sans);
    border-radius: 10px;
}

.cards__contenido {
    font-size: 16px;
    line-height: 20px;
}

.items {
    padding-left: 20px;
}

.head {
    font-size: 30px;
    line-height: 30px;
    transform: translateY(40px);
    transition: all 0.7s;
}

.head,
hr {
    display: block;
    border: none;
    border-bottom: solid 2px #5C307D;
    /* position: absolute;
        bottom: 0;*/
    left: 20px;
    top: 130px;
    transition: all .5s;
}

.button__tecnoGroup {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 22px;
    line-height: 10px;
    font-weight: bold;
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.7s;
    display: flex;
    justify-content: flex-start;
}

.button__tecno {
    margin-right: 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(123, 97, 255, 0.38);
    opacity: 0.5;
    position: relative;
    padding: 4px 12px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 99px;
    outline: none;
    overflow: hidden;
    color: #5C307D;
    text-align: center;
}

.enlace {
    display: flex;
}

.button_enlace {
    height: 52px;
    margin-right: 10px;
    background: #5C307D;
    position: relative;
    padding: 16px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 99px;
    outline: none;
    overflow: hidden;
    color: #5C307D;
    text-align: center;
    cursor: pointer;
}

.button_enlace a {
    text-decoration: none;
    color: #F5F5FF;
}

.cards_projects:hover .overlay {
    opacity: 1;
}

.cards_projects:hover .overlay .head {
    transform: translateY(20px);
}

.cards_projects:hover .overlay hr {
    width: 150px;
    transition-delay: 0.4s;
}

.cards_projects:hover .overlay .button__tecnoGroup {
    transform: translateY(0px);
    transition-delay: 0.3s;
    opacity: 1;
}

.cards_projects:hover .overlay .enlace {
    transform: translateY(0px);
    transition-delay: 0.6s;
    opacity: 1;
}



/*********************/
/*Contacto*/


.contacto__container {
    display: flex;
}
.contenido__formulario{
    font-family: var(--quattrocento-sans);
    line-height: 32px;
    padding-bottom: 24px;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.fieldset {
    border: none;
    padding: 0;
}

@media screen and (min-width: 1024px) {
    .formulario {
        width: 60%;
    }
}

.formulario__grupo-input {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    margin-bottom: 1.5rem;
    position: relative;
    font-weight: 300;
}

.formulario__input {
    box-sizing: border-box;
    padding: 1.375rem 2rem 0.5rem 0.5rem;
    min-height: 3.25rem;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--fuente-lila);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    transition: 0.2s all ease-in;
    -webkit-transition: 0.2s all ease-in;
    -moz-transition: 0.2s all ease-in;
    -ms-transition: 0.2s all ease-in;
    -o-transition: 0.2s all ease-in;
}

.textarea {
    resize: none;
    overflow: hidden;
    height: 100px;
    padding-top: 2rem;
    padding-bottom: 1rem;
    display: block;
}

.formulario__label {
    position: absolute;
    top: 1.375rem;
    left: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}

.formulario__input::placeholder {
    visibility: hidden;
    color: transparent;
}

.formulario__input:focus {
    outline: none;
    border: 2px solid var(--activo);
    box-shadow: 3px 0px 30px var(--sombra);
}

.formulario__input:not(:placeholder-shown)+.formulario__label,
.formulario__input:focus+.formulario__label {
    font-size: 0.875rem;
    top: 0.25rem;
    transition: all 0.25s;
}

.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    font-size: 1rem;
    opacity: 0;
}

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 1rem;
    display: none;
}

.enviar {
    display: block;
    background-color: var(--color-fondo);
    width: 140px;
    margin: 1rem 0;
    padding: 0.85rem;
    box-sizing: border-box;
    color: var(--color-menu);
    font-size: 1.125rem;
    align-self: center;
    text-align: center;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -ms-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
}

.enviar:disabled {
    background: #acacac;
    color: #170101;
    opacity: 0.6;
    transition: all 150ms;
    cursor: none;
}

/*Estios de validaciones*/
.formulario__grupo-correcto .formulario__validacion-estado {
    color: green;
    opacity: 1;
}

.formulario__grupo-correcto .formulario__input {
    border: 2px solid green;
}

.formulario__grupo-incorrecto {
    margin-bottom: 0.5rem;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: red;
    opacity: 1;
    bottom: 50px;
}

.formulario__grupo-incorrecto .formulario__label {
    color: red;
}

.formulario__grupo-incorrecto .formulario__input {
    border: 2px solid red;
}

.formulario__grupo-incorrecto .formulario__input-error {
    display: block;
}