.subtitulo__blanco {
    text-align: center;
    color: var(--fuente-blanco);
}


/*MObile*/

@media screen and (min-width: 0) {
    .subtitulo__blanco {
        padding: 30px 0;
        font-size: 1.5rem; 
}
} 
/*Tablet*/
@media screen and (min-width: 768px) {
    .subtitulo__blanco {
        padding: 50px 0;
        font-size: 2rem;
    }
}

/*Desktop*/
@media screen and (min-width: 1024px) {
    .subtitulo__blanco{
        padding: 100px 0;
        font-size: 2.5rem;
    }
} 