
/*Mobile*/
@media screen and (min-width: 0) {
    .img__portada {
        width: 40%;
        height: auto;
    }
}  
/*Tablet*/
@media screen and (min-width: 768px) {
    .img__portada {
        width: auto;
    }
}  