.portada__subtitulo {
    text-align: left;
    line-height: 1.5rem;
}

/*Mobile*/
@media screen and (min-width: 0) {
    .portada__subtitulo {
        font-size: 0.7rem;
        line-height: 1.5rem;
        padding-top: 15px;
        }
}
/*Tablet*/
@media screen and (min-width: 768px) {
    .portada__subtitulo {
        font-size: 1.5rem;
        line-height: 2rem;
        }
}