.titulo__principal {
    line-height: 54px;
    font-size: 3rem;
}

/*Mobile*/
@media only screen and (max-width: 480px) {
    .titulo__principal {
    font-size: 2rem;
    }
}    
/*Tablet*/
@media only screen and (max-width: 768px) {
    .titulo__principal {
    font-size: 2.5rem;
    }
}   