.nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.nav__menu li {
    padding: 0 1rem;
}

@media (max-width: 992px) {
    .nav__menu {
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 75px;
        right: -100%;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        margin: 0 auto;
    }

    .nav__menu li {
        padding: 1rem 0;
    }

    a.nav__link {
        margin: 1rem 0;
        color: #333;
        z-index: 1;
    }

    .active {
        right: 0;
        z-index: 100;
        transition: 0.2s ease;
    }
}