/*ul {
    margin-bottom: 0;
}

.nav-menu li {
    list-style: none;
    padding: 0 1rem;
}


.nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}  
*/