@media screen and (min-width:0) {
    .img__formulario{
        width: 0;
    }
}
@media screen and (min-width: 768px) {
    .img__formulario{
        width: 40%;
    }
}
@media screen and (min-width: 1024px){
    .img__formulario{
        width: 40%;
    }
}